In [40]:
import pandas as pd

data = {
    'func_def': [
        '''def calculate_total_fee(qc_value: float, tonnage: float, time_period: str = 'day') -> float:
    fees = {
        0.0: {'day': 5.00, 'night': 4.00},
        1.0: {'day': 10.00, 'night': 8.00},
        2.0: {'day': 15.00, 'night': 12.00},
    }
    if qc_value not in fees:
        raise ValueError(f"QC value {qc_value} not found.")
    if time_period not in ['day', 'night']:
        raise ValueError("time_period must be 'day' or 'night'")
    return fees[qc_value][time_period] * tonnage''',
        '''def calculate_total_fee(qc_value: float, tonnage: float, time_period: str = 'day') -> float:
    fees = {
        0.0: {'day': 8.00, 'night': 43.00},
        1.0: {'day': 20.00, 'night': 81.00},
        2.0: {'day': 25.00, 'night': 22.00},
    }

    if qc_value not in fees:
        raise ValueError(f"QC value {qc_value} not found.")
    if time_period not in ['day', 'night']:
        raise ValueError("time_period must be 'day' or 'night'")

    return fees[qc_value][time_period] * tonnage'''
    ],
    'func_call_1': [
        "calculate_total_fee(1, 2, 'night')",
        "calculate_total_fee(1, 2, 'night')"
    ],
    'func_call_2': [
        "calculate_total_fee(2, 4, 'day')",
        "calculate_total_fee(2, 4, 'day')"
    ],
    'ground_truth_1': [
        16.0,
        162.0
    ],
    'ground_truth_2': [
        163.0,
        100.0
    ]
}

df = pd.DataFrame(data)
outputs = []
outputs2=[]
for i, row in df.iterrows():
    local_vars = {}
    exec(row['func_def'], {}, local_vars)
    output = eval(row['func_call_1'], {}, local_vars)
    outputs.append(output)
    output2 = eval(row['func_call_2'], {}, local_vars)
    outputs2.append(output2)

df['output1'] = outputs
df['output2'] = outputs2

correct = []
for i, row in df.iterrows():
    correct.append(row['output1']==row['ground_truth_1'] and row['output2']==row['ground_truth_2'])
df['output3'] = correct   
print(df)
    
df.to_csv('dummydata.csv')

                                            func_def  \
0  def calculate_total_fee(qc_value: float, tonna...
1  def calculate_total_fee(qc_value: float, tonna...

                          func_call_1                       func_call_2  \
0  calculate_total_fee(1, 2, 'night')  calculate_total_fee(2, 4, 'day')
1  calculate_total_fee(1, 2, 'night')  calculate_total_fee(2, 4, 'day')

   ground_truth_1  ground_truth_2  output1  output2  output3
0            16.0           163.0     16.0     60.0    False
1           162.0           100.0    162.0    100.0     True